{% if current_user.user == "admin" %}
    {% include 'portal/admin.html' %}
{% elif current_user.user == "faculty" %}
    {% include 'portal/faculty.html' %}
{% elif current_user.user == "student" %}
    {% include 'portal/student.html' %}
{% endif %}

{% block content %}
    <h1>Announcement Maker</h1>
    <form method='POST'>
        {{ form.hidden_tag() }}
        {{ form.title.label() }}
        {{ form.title() }}
        {{ form.subject.label() }}
        {{ form.subject() }}
        {{ form.target.label() }}
        <br />
        {{ form.target_everyone(id="target_everyone") }}
        {{ form.target_everyone.label() }}
        <br />
        {{ form.target_faculty(id="target_faculty") }}
        {{ form.target_faculty.label() }}
        <br />
        {{ form.target_students(id="target_students") }}
        {{ form.target_students.label() }}
        {{ form.target() }}
        {{ form.desc.label() }}
        {{ form.desc() }}
        {{ form.submit() }}
    </form>
    <script defer src="{{ url_for('main.catch_all', path='announcement_maker.js') }}"></script>
{% endblock %}

