{% extends 'super_admin_base.html' %}

{% block content %}
    <div style="background: url('../../static/board.webp') center / cover no-repeat;font-family: 'Fredericka the Great', serif;color: white;height: 100vh;overflow-y: auto">
        {% for college in colleges %}
            {% for college_name, college_info in college.items() %}
                <div class="d-md-flex flex-grow-1 align-items-md-start" style="background: var(--bs-border-color-translucent);">
                    <div class="card flex-grow-1" style="background: transparent;">
                        <div class="card-body">
                            <h4 class="card-title">{{ college_name.replace('_', ' ') }}</h4>
                            {% for info, value in college_info.items() %}
                                <h5>{{ value }}</h5>
                            {% endfor %}
                        </div>
                    </div>
                    <a id="{{ college_name }}" onclick="delete_college(this.id)" style="cursor: pointer">
                        <img src="{{ url_for('main.catch_all', path='delete_icon.png') }}" width="36" height="34" alt="Delete" />
                    </a>
                </div>
                <hr style="background: white;border-radius: 3px;border-width: 3px;border-color: white;margin: 0" />
            {% endfor %}
        {% endfor %}
    </div>
    <script type="application/javascript" src="{{ url_for("main.catch_all", path="super_delete_college.js") }}"
            delete_url="{{ url_for('super_admin.delete_college')|tojson }}"></script>
{% endblock %}