{% if faculty_list %}
    <ul class="list-group" style="color: white;font-family: 'Fredericka the Great', serif;background: transparent;margin: 0 1.6em;">
    {% for faculty in faculty_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center" style="color: white;background: transparent">
            <div>
                <span style="font-size: 1.6rem">Name: {{ faculty.name }}</span><br>
                <span style="font-size: 1.6rem">Email: {{ faculty.email }}</span>
            </div>
            <div class="d-md-flex">
                <a id="{{ faculty.email }}" onclick="approve_faculty(this.id, 'approve')" style="padding-right: 0.5em;cursor: pointer">
                    <img src="{{ url_for('main.catch_all', path='tick_icon.png') }}" width="40" height="40" alt="Approve"/>
                </a>
                <a id="{{ faculty.email }}" onclick="approve_faculty(this.id, 'reject')" style="padding-left: 0.5em;cursor: pointer">
                    <img src="{{ url_for('main.catch_all', path='delete_icon.png') }}" width="40" height="40" alt="Delete"/>
                </a>
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <h3 style="font-family: 'Fredericka the Great', serif;color: white;padding-left: 2em">No one to approve at the moment</h3>
{% endif %}