{% extends 'portal_base.html' %}

{% block title %}
    <title>Faculty Portal</title>
{% endblock %}

{% block navbar %}
    {% if current_user.course_faculty %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('faculty.upload_marks') }}">Upload Marks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('faculty.view_report') }}">View Report</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('study_material.study_material_upload') }}">Upload Study Material</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('faculty.event_report') }}">Event Report</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('announcement.announcement_maker') }}">Announcement Maker</a>
    </li>
    {% if current_user.course_faculty %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('faculty.student_moderation') }}">Student Moderation</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href={{ url_for('profile.profile_page') }}>{{ current_user.name }}</a>
    </li>
{% endblock %}
{% block logout %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('faculty.logout_page') }}" style="color: red">Log Out</a>
    </li>
{% endblock %}

{% block content %}
{% endblock %}