{% extends 'portal/admin.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('main.catch_all', path='style.css') }}">
{% endblock %}

{% block content %}
    <div style="background: url('../../static/board.webp') center / cover no-repeat;">
        <div class="d-md-flex justify-content-md-center" style="padding-top: 1em;padding-bottom: 1em">
            <select id="manager" class="form-select border rounded-pill border-2" style="color: white;background: transparent;font-family: 'Fredericka the Great', serif;width: 80%;text-align: center;font-size: 20px;">
                <option value="Course">Course Management</option>
                <option value="Subject">Subject Management</option>
                <option value="Approval">Faculty Login Approval</option>
                <option value="Faculty_manage">Faculty Management</option>
                <option value="Role">Role Management</option>
                <option value="Student_mod">Student Moderation</option>
            </select>
        </div>
        <div id="container" style="min-height: 100vh;max-height: 200vh;overflow-y: auto">
        </div>
        <script src="{{ url_for('main.catch_all', path="role_management.js") }}" type="application/javascript"></script>
        <script src="{{ url_for('main.catch_all', path="faculty_approval.js") }}" type="application/javascript"></script>
        <script src="{{ url_for('main.catch_all', path="faculty_management.js") }}" type="application/javascript"></script>
        <script src="{{ url_for('main.catch_all', path="course_management.js") }}" type="application/javascript"></script>
        <script src="{{ url_for('main.catch_all', path="subject_management.js") }}" type="application/javascript"></script>
        <script src="{{ url_for('main.catch_all', path="admin_student_moderation.js") }}" type="application/javascript"></script>
        <script src="{{ url_for('main.catch_all', path="management.js") }}"
                type="application/javascript"
                course_url={{ url_for('admin.course_management')|tojson }}
                approval_url={{ url_for('admin.faculty_approval')|tojson }}
                role_url={{ url_for('admin.role_management')|tojson }}
                faculty_manage_url={{ url_for('admin.faculty_management')|tojson }}
                subject_url={{ url_for('admin.subject_management')|tojson }}"
                student_mod_url={{ url_for('admin.admin_student_moderation') }} defer>
        </script>
    </div>
{% endblock %}