{% extends 'portal/faculty.html' %}

{% block content %}
    {% for cdns in js_cdn %}
        <script type="application/javascript" src="{{ cdns|safe }}"></script>
    {% endfor %}
    <ul>
        <li><button>Exam-wise Average</button></li>
        <li><button>Student-wise Report</button></li>
    </ul>
    <select id="exams">
        {% for exam in exam_list %}
            <option value="{{ exam['_id'] }}">{{ exam['exam_name'] }}</option>
        {% endfor %}
    </select>
    <div id="graph_container"></div>
    <script>
        let exams = document.getElementById("exams")
        let graph_container = document.getElementById("graph_container")
        set_graph(exams.value)
        exams.addEventListener('change', () => { set_graph(exams.value) })

        async function set_graph(examid){
            await fetch({{ url_for('faculty.exam_avg_graph', examid="")|tojson }}+examid)
                .then(response => { return response.json() })
                .then(json => {
                    console.log("change")
                    graph_container.innerHTML = json.div
                    eval(json.script)
                })
        }
    </script>
{% endblock %}