{% extends 'portal/faculty.html' %}

{% block content %}
    {% for cdns in js_cdn %}
        <script type="application/javascript" src="{{ cdns|safe }}"></script>
    {% endfor %}
    <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm">
        <li class="nav-item"><button class="nav-link active rounded-5" onclick='get_report_req("exam_avg",{{ url_for('faculty.exams_avg')|tojson }})'>Exam-wise Average</button></li>
        <li class="nav-item"><button class="nav-link active rounded-5" onclick='get_report_req("stu_avg",{{ url_for('faculty.student_report')|tojson }})'>Student-wise Report</button></li>
    </ul>
    <div id="report_container"></div>
    <script src="{{ url_for('main.catch_all', path='report_marks.js') }}"></script>
    <script>get_report_req("exam_avg",{{ url_for('faculty.exams_avg')|tojson }})</script>
{% endblock %}