<ul>
    {% for role in roles %}
        {% for role_value, permissions in role.items() %}
            <li>
                {{ role_value.replace('_', ' ') }} <button id="{{ role_value }}" onclick="delete_role(this.id)">-</button><br />
                <strong>Current holder:</strong>
                {% for candidate in candidates if candidate["role"] == role_value %}
                        <p>{{ candidate["name"] }}</p>
                        <button id="{{ candidate["email"] }}" onclick="delete_candidate(this.id)">-</button>
                        <p>{{ candidate["email"] }}</p>
                {% endfor %}
                <input type="email" placeholder="Email" id="{{ role_value+"_email" }}">
                <button onclick="assign_role('{{ role_value+"_email" }}')">OK</button><br />
                <h4>Role Permissions</h4>
                <ul>
                    {% for perm in permissions %}
                        <li>{{ perm }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    {% endfor %}
</ul>
<button id="add_role" onclick="create_role(this.id)">Add</button>
<div id="role_container"></div>