<link rel="stylesheet" href="{{ url_for('main.catch_all', path='style.css') }}">
<div class="d-flex flex-row flex-wrap justify-content-md-start align-items-md-start" style="margin-left: 1.6em">
    {% for role in roles %}
        {% for role_value, permissions in role.items() if role_value != 'cr' and role_value != 'regular' %}
            <div class="card" style="margin-left: 1.6em;width: 25em;color: white;font-family: 'Fredericka the Great', serif;background: transparent;border: 4px dashed white;">
                <div class="card-body">
                    <div class="d-md-flex justify-content-md-start">
                        <h2 class="flex-grow-1" style="text-align: center;padding-left: 1em;">{{ role_value.replace('_', ' ').capitalize() }}</h2>
                        <a id="{{ role_value }}" onclick="delete_role(this.id)" style="border-radius: 50%;border-style: solid;border-color: white;cursor: pointer">
                            <img src="{{ url_for('main.catch_all', path='delete_icon.png') }}" width="40" height="36" style="padding-left: 0.3em;" />
                        </a>
                    </div>
                    <div>
                        <h5>Role Permission(s)</h5>
                        <ul>
                            {% for perm in permissions %}
                                <li>{{ perm.replace('_', ' ').capitalize() }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <h5>Current Holder(s)</h5>
                        <div class="d-md-flex flex-column flex-grow-1" style="height: 5em;overflow-y: auto;">
                            {% for candidate in candidates if candidate["role"] == role_value %}
                                <div class="d-md-flex justify-content-md-start" style="width: 100%;">
                                    <div class="d-md-flex flex-column flex-grow-1 justify-content-md-start">
                                        <p>{{ candidate["name"] }}</p>
                                        <p>{{ candidate["email"] }}</p>
                                    </div>
                                    <a id="{{ candidate["email"] }}" onclick="delete_candidate(this.id)" style="cursor: pointer;">
                                        <img src="{{ url_for('main.catch_all', path='delete_icon.png') }}" width="36" height="34" />
                                    </a>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                    <div>
                        <h5>Apply Role</h5>
                        <input id="{{ role_value+"_email" }}" type="email" style="color: white;background: transparent;border-color: white;border-radius: 12px;font-size: 18px;" placeholder="Email" />
                        <button class="btn btn-primary" type="button" style="margin-left: 2em;" onclick="assign_role('{{ role_value+"_email" }}')">OK</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="d-md-flex justify-content-md-center align-items-md-center" style="padding-top: 10em;">
        <a data-bs-target="#add_role_modal" data-bs-toggle="modal" style="border-radius: 50%;border: 4.4px dashed white;margin-left: 10em;cursor: pointer">
            <img src="{{ url_for('main.catch_all', path='plus_icon.png') }}" width="36" height="34" style="margin-bottom: 0.2em;padding-right: 0.1em;" />
        </a>
    </div>
</div>
<div id="add_role_modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="background: url('../../static/board.webp');color: white;font-family: 'Fredericka the Great', serif;">
                <div class="modal-header">
                    <h4 class="modal-title">Add Role</h4><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="role_name_input" type="text" style="color: white;background: transparent;border-color: white;border-radius: 15px;font-size: 20px;margin-bottom: 1.6em;" placeholder="Role Name" />
                    <div class="form-check">
                        <input id="announce_make_perm" class="form-check-input" type="checkbox" />
                        <label class="form-check-label" for="formCheck-1">Announcement Maker</label>
                    </div>
                    <div class="form-check">
                        <input id="student_council_chat_perm" class="form-check-input" type="checkbox" />
                        <label class="form-check-label" for="formCheck-2">Student Council</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="button" onclick="create_role()" data-bs-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 10em;">
    <h2 class="text-center mb-4" style="background: transparent;color: white;font-family: 'Fredericka the Great', serif;">Class Representatives</h2>
    <div class="d-md-flex justify-content-md-center" style="padding-top: 1em;padding-bottom: 1em">
        <select id="cr_course" class="form-select border rounded-pill border-2" style="color: white;background: transparent;font-family: 'Fredericka the Great', serif;width: 80%;text-align: center;font-size: 20px;" id="course" onchange="display_cr(this.value)">
            <option value="" selected>Select a course</option>
            {% for course in courses %}
                <option value="{{ course }}">{{ course }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="d-md-flex justify-content-md-center" style="padding-top: 1em;padding-bottom: 1em">
        <div class="card" style="width: 25em;color: white;font-family: 'Fredericka the Great', serif;background: transparent;border: 4px dashed white;">
            <div class="card-body">
                <h3 class="flex-grow-1 card-title" style="text-align: center;">Class</h3>
                <div>
                    <div class="d-md-flex flex-grow-1 justify-content-md-center" style="overflow-y: auto;">
                        <div id="cr_container" class="d-md-flex justify-content-md-start" style="width: 100%;">
                        </div>
                    </div>
                </div>
                <div>
                    <h5>Apply Class Representative</h5>
                    <input id="cr_mail" type="email" style="color: white;background: transparent;border-color: white;border-radius: 12px;font-size: 18px;" placeholder="Email" disabled/>
                    <button id="cr_ok" class="btn btn-primary" type="button" style="margin-left: 2em;" onclick="assign_cr_call()" disabled>OK</button>
                </div>
            </div>
        </div>
    </div>
</div>