{% extends 'portal_base.html' %}

{% block title %}
    <title>Student Portal</title>
{% endblock %}

{% block links %}
{% endblock %}

{% block navbar %}
    {% set permissions=current_user.get_permissions() %}
    {% if 'announcement_maker' in permissions %}
        <a href="{{ url_for('announcement.announcement_maker') }}">Announcement Maker</a>
    {% endif %}
    <a href={{ url_for('profile.profile_page') }}>{{ current_user.name }}</a>
{% endblock %}

{% block logout %}
    <a href="{{ url_for('student.logout_page') }}">Log Out</a>
{% endblock %}

{% block content %}
{% endblock %}
