{% extends 'portal_base.html' %}

{% block title %}
    <title>Student Portal</title>
{% endblock %}

{% block links %}
{% endblock %}

{% block navbar %}
    {% set permissions=current_user.get_permissions() %}
    {% if 'announcement_maker' in permissions %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('announcement.announcement_maker') }}">Announcement Maker</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href={{ url_for('profile.profile_page') }}>{{ current_user.name }}</a>
    </li>
{% endblock %}

{% block logout %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('student.logout_page') }}" style="color: red;">Log Out</a>
    </li>
{% endblock %}

{% block content %}
{% endblock %}