{% extends 'home_base.html' %}

{% block links %}
    <link rel="stylesheet" href="../../static/style.css">
{% endblock %}

{% block content %}
    <div class="position-relative py-4 py-xl-5" style="background: url('../../static/background.webp') no-repeat;background-size: cover;font-family: 'Fredericka the Great', serif;">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="text-capitalize" style="color: white;font-family: 'Fredericka the Great', serif;">Password Reset</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5" style="background: var(--bs-border-color-translucent);font-family: 'Fredericka the Great', serif;border-color: var(--bs-card-bg);">
                        <div class="card-body d-flex flex-column align-items-center" style="background: transparent;">
                            <form class="text-center" method="POST">
                                {{ form.hidden_tag() }}
                                <div class="mb-3">
                                    {{ form.password(placeholder="Password", class="form-control", style="background: var(--bs-card-cap-bg);color: white;") }}
                                </div>
                                <div class="mb-3">
                                    {{ form.confirm_password(placeholder="Confirm Password", class="form-control", style="background: var(--bs-card-cap-bg);color: white;") }}
                                </div>
                                <div class="mb-3">
                                    {{ form.submit(class="btn btn-primary d-block w-100") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}