{% if current_user.user == "admin" %}
    {% extends 'portal/admin.html' %}
{% elif current_user.user == "faculty" %}
    {% extends 'portal/faculty.html' %}
{% elif current_user.user == "student" %}
    {% extends 'portal/student.html' %}
{% endif %}

{% block links %}
    <link rel="stylesheet" href="../../static/style.css">
{% endblock %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
        <div style="background: url('../../static/board.webp');height: 100vh;">
            <div class="d-md-flex justify-content-md-center" style="padding-top: 1em;padding-bottom: 1em">
                <select id="chat_room" onchange="changeRoom()" class="form-select border rounded-pill border-2" style="color: white;background: transparent;font-family: 'Fredericka the Great', serif;width: 80%;text-align: center;font-size: 20px;">
                    {% if current_user.user == 'student' %}
                        <option value="Course" selected>{{ current_user.course }} Chat</option>
                        <option value="college">College Chat</option>
                        {% if 'student_council_chat' in current_user.get_permissions() %}
                            <option value="student_council">Student Council Chat</option>
                        {% endif %}
                    {% elif current_user.user == 'faculty' %}
                        {% if current_user.course_faculty is not none %}
                            <option value="Course" selected>{{ current_user.course_faculty }} Chat</option>
                        {% endif %}
                        <option value="faculty_chat" selected>Faculty Chat</option>
                        {% set courses = current_user.get_unique_sub_course() %}
                        {% if courses != []  %}
                            <option value="Course_{{ courses[0] }}">{{ courses[0] }} Chat</option>
                        {% endif %}
                    {% endif %}
                </select>
            </div>
            <div id="messages" style="padding: 1.5em;height: 80vh;overflow-y: scroll;background: var(--bs-border-color-translucent)">
            </div>
            <form id="message_input_form" class="d-md-flex flex-row justify-content-md-center align-items-md-center" style="width: 100%;">
                <input placeholder="Message" id="message_input" class="form-control" type="text" style="border-radius: 0px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;font-family: 'Fredericka the Great', serif;border-color: white;border-right-style: none;background: transparent;color: white"/>
                <button class="btn btn-primary" type="submit" style="font-family: 'Fredericka the Great', serif;background: transparent;border-radius: 0px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-color: white;border-left-style: none;height: 2.35em;cursor: pointer;">
                    <img src="{{ url_for('main.catch_all', path='send_icon.png') }}" alt="Send">
                </button>
            </form>
        </div>
        <script>
        const messages_container = document.getElementById('messages')
        messages_container.scrollTop = messages_container.scrollHeight
        const message_input_form = document.getElementById("message_input_form")
        const message_input = document.getElementById("message_input")
        message_input.scrollIntoView()
        message_input.focus()
        {#console.log('http://' + document.domain + ':' + location.port)#}
        {#const socket = io.connect('https://' + document.domain + ':' + location.port)#}
        const socket = io.connect('http://127.0.0.1:5000')
        let room_id = ""

        socket.on('connect', () => {
            socket.emit('join_room', {
                name: "{{ current_user.name }}",
                email: "{{ current_user.email }}",
            })
        })

        function changeRoom() {
            messages_container.innerHTML = ``
            room_select = document.getElementById('chat_room').value
            socket.emit('change_room', {
                name: "{{ current_user.name }}",
                email: "{{ current_user.email }}",
                'room_choice': room_select,
                'current_room': room_id
            })
        }

        socket.on('join_room_announcement', (data) => {
            room_id = data.room
            console.log(data)
            for(i=0;i<data.messages.length;i++) {
                msg = data.messages[i]
                const messg = document.createElement("p")
                messg.style = `font-family: 'Fredericka the Great', serif;color: white;`
                messg.innerHTML = `<b>${msg.name}</b>` + ': ' + msg.message
                messages_container.appendChild(messg)
            }
        })


        message_input_form.onsubmit = (event) => {
            event.preventDefault()
            let message = message_input.value.trim()
            if(message.length){
                socket.emit('send_message', {
                    'name': "{{ current_user.name }}",
                    'email': "{{ current_user.email }}",
                    'room': room_id,
                    'message': message
                })
            }
            message_input.value = ''
            message_input.focus()
        }

        socket.on('receive_message', (data) => {
            const messg = document.createElement("p")
            messg.style = `font-family: 'Fredericka the Great', serif;color: white;`
            messg.innerHTML = `<b>${data.name}</b>` + ': ' + data.message
            messages_container.appendChild(messg)
            messages_container.scrollTop = messages_container.scrollHeight
        })
    </script>
{% endblock %}

