{% if current_user.user == "admin" %}
    {% extends 'portal/admin.html' %}
{% elif current_user.user == "faculty" %}
    {% extends 'portal/faculty.html' %}
{% elif current_user.user == "student" %}
    {% extends 'portal/student.html' %}
{% endif %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
    <h1>Chat</h1>
    <select id="chat_room" onchange="changeRoom()">
        {% if current_user.user == 'student' %}
            <option value="Course" selected>{{ current_user.course }} Chat</option>
            <option value="college">College Chat</option>
            {% if 'student_council_chat' in current_user.get_permissions() %}
                <option value="student_council">Student Council Chat</option>
            {% endif %}
        {% elif current_user.user == 'faculty' %}
            <option value="faculty_chat" selected>Faculty Chat</option>
        {% endif %}
    </select>
    <div id="messages">
    </div>
    <form id="message_input_form">
        <input type="text" placeholder="Enter your message..." id="message_input">
        <button type="submit">Send</button>
    </form>
    <script>
        const messages_container = document.getElementById('messages')
        const socket = io.connect('https://' + document.domain + ':' + location.port)
        let room_id = ""

        socket.on('connect', () => {
            socket.emit('join_room', {
                name: "{{ current_user.name }}",
                email: "{{ current_user.email }}",
            })
        })

        function changeRoom() {
            messages_container.innerHTML = ``
            room_select = document.getElementById('chat_room').value
            socket.emit('change_room', {
                name: "{{ current_user.name }}",
                email: "{{ current_user.email }}",
                'room_choice': room_select,
                'current_room': room_id
            })
        }

        socket.on('join_room_announcement', (data) => {
            room_id = data.room
            console.log(data)
            for(i=0;i<data.messages.length;i++) {
                msg = data.messages[i]
                const messg = document.createElement("p")
                messg.innerHTML = `<b>${msg.name}</b>` + ': ' + msg.message
                messages_container.appendChild(messg)
            }
        })

        const message_input_form = document.getElementById("message_input_form")
        const message_input = document.getElementById("message_input")
        message_input_form.onsubmit = (event) => {
            event.preventDefault()
            let message = message_input.value.trim()
            if(message.length){
                socket.emit('send_message', {
                    'name': "{{ current_user.name }}",
                    'email': "{{ current_user.email }}",
                    'room': room_id,
                    'message': message
                })
            }
            message_input.value = ''
            message_input.focus()
        }

        socket.on('receive_message', (data) => {
            const messg = document.createElement("p")
            messg.innerHTML = `<b>${data.name}</b>` + ': ' + data.message
            messages_container.appendChild(messg)
        })
    </script>
{% endblock %}

