*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

input[type=text],input[type=email],textarea {
    width: 100%; 
    padding: 1rem;
    border: 0.2rem solid #ccc;
    border-radius: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

input[type=submit] {
    background-color: #aa3904;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0.5em 0.3em;
    font-size: 1.4rem;
    border-radius: 1rem;
}
  
input[type=submit]:hover {
    background-color: #04a7c4;
}

.contact-container {
    margin: 3rem;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    padding: 1.5rem;
}

.topic-text{
    font-size: 4rem;
    font-weight: bold;
    color: #aa3904;
    padding-bottom: 0.25em;
}

form label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #aa3904;
}

form textarea {
    height: 6rem;
}