body {
    background-color: #222e50;
}

header {
    position: sticky;
    display: flex;
    width: 100%;
    height: 5rem;
    left: 0;
    top: 0;
    background: #B8C2E0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 0;
    padding-left: 2rem;
}

nav > button {
    border: none;
    background-color: transparent;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    color: #000000;
    cursor: pointer;
}
nav > button:hover {
    background-color: #c3cdeb;
    text-decoration: underline;
}

nav button:first-child {
    font-family: 'Roboto', sans-serif;;
    margin-top: 1rem;
    background-color: #222e50;
    height: 3rem;
    border-radius: 2rem;
    color: #B8C2E0;
    margin-right: 5rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

nav button:first-child:hover {
    background-color: #116dff;
    color: white;
    text-decoration: none;
}

nav button:last-child {
    margin-left: 5rem;
}

img {
    max-height: 100%;
}

footer {
    height: 1.2em;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: grey;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav button:first-child {
        margin-right: 0;
    }
    nav button:last-child {
        margin-left: 0;
    }
    header {
        height: 8rem;
    }
}