* {
    margin: 0;
    border: 0;
    box-sizing: border-box
}

.alert {
    background-color: #f44336;
    color: white;
    padding: 20px;
    margin-bottom: 15px
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s
}

.container {
    background-color: #4da1a9;
	border-radius: 0.5rem;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	margin: auto;
	width: 80%;
}
form {
	margin-top: 2rem;
	padding: 3rem;
	height: 100%;
	margin-bottom: 2rem;
}
.google-button {
	border: 2px solid #DDDDDD;
	border-radius: 3rem;
    margin-bottom: 1rem;
	width: 100%;
	height: 2rem;
	background-color: white;
}

input[type=text], input[type=password] {
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.dropdown-course{
    margin-bottom: 1rem;
    width: 30%;
    font-size: 1.3em;
    display: inline;
}
.dropdown-college{
    margin-bottom: 1rem;
    width: 30%;
    font-size: 1.3em;
    display: block;
}

hr {
 margin-bottom: 1rem;
}

label{
    font-size: 1.5em;
}
p{
    font-size: 1.3em;
}
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 1rem;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: rgb(21, 248, 59);
}

.signin {
  background-color: #0004da;
  text-align: center;
  font-size: 1.5em;
}