<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('main.catch_all', path='portal_base.css') }}">
    {% block links %}
    {% endblock %}
</head>
<body>
    <header>
        <a href="{{ url_for('main.home_page') }}"><img src="{{ url_for('main.catch_all', path='logo.png') }}" alt="logo"></a>
        <nav>
            <a href="{{ url_for('announcement.announcements') }}">Announcements</a>
            {% if current_user.user == 'student' %}
                <a href="{{ url_for('chat.chat_page') }}">Chat</a>
            {% endif %}
            {% block navbar %}
            {% endblock %}

            {% block logout %}
            {% endblock %}
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        Copyright 2022          Student Sanctuary
    </footer>
</body>
</html>