<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Sanctuary</title>
    <link rel="stylesheet" href="{{ url_for("main.catch_all", path="super_admin_base.css") }}">
    {% block links %}
    {% endblock %}
</head>
<body>
    <header>
        <a href="{{ url_for('main.home_page') }}"><img src="../static/logo.png" alt="logo"></a>
        <nav>
            <a id="create" href="{{ url_for('super_admin.create_college') }}">New College</a>
            <a id="delete" href="{{ url_for('super_admin.delete_college') }}">Delete College</a>
            <a href={{ url_for('profile.super_admin_profile_page') }}>{{ current_user.name }}</a>
            <a href="{{ url_for('super_admin.logout_page') }}">Log Out</a>
        </nav>
    </header>
    <main id="main">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        Copyright 2022          Student Sanctuary
    </footer>
</body>
</html>