{% extends 'home_base.html' %}

{% block content %}
    <div class="d-md-flex justify-content-md-center align-items-md-center" style="background: url('../../static/board.webp') center / cover no-repeat;color: white;font-size: 16px;font-family: 'Fredericka the Great', serif;width: 100vw;height: 63vh;">
        <div>
            <h1 style="color: white;font-size: 10em;text-align: center;">404</h1>
            <h2 style="text-align: center;">Page Not Found 😔</h2>
        </div>
    </div>
{% endblock %}