{% extends 'home_base.html' %}

{% block links %}
    <link rel="stylesheet" href="../../static/contact_us.css">
{% endblock %}

{% block content %}
    <div class="contact-container">
        <h1 class="topic-text">Send us a message</h1>
        <form method="POST">
            {{ form.name.label() }}
            {{ form.name(placeholder="Your name..") }}
            {{ form.email.label() }}
            {{ form.email(placeholder="Your email..") }}
            {{ form.subject.label() }}
            {{ form.subject(placeholder="Subject..") }}
            {{ form.message.label() }}
            {{ form.message(placeholder="Write here..") }}
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}